/* Style for exercice card */
.card {
  padding: 20px;
  border-radius: 10px;
  width: 20%;
  margin: 12px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}